<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT newsPage ANY>
<!ATTLIST newsPage id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1067" key="5f8dc54f-20f8-470f-80a6-75f6d22f70b3" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-02-12T10:12:20" updateDate="2016-03-11T18:16:20" nodeName="Home" urlName="home" path="-1,1067" isDoc="" nodeType="1054" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1061" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Aarhus Web Developers Corporation]]></pageTitle>
    <metaDescription><![CDATA[Aarhus Web Developers Corporation]]></metaDescription>
    <metaKeywords><![CDATA[Aarhus Web Developers Corporation]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <homePageGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Main Header",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Welcome to Aarhus Web Developers Newtork!",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a167d001-613a-6753-e99b-c23ef616c548"
        },
        {
          "name": "Main Content",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia quis neque eu ullamcorper. Etiam vulputate urna in turpis interdum, nec vehicula odio tristique. Ut convallis ante non hendrerit pulvinar. Nullam faucibus magna ut gravida pharetra. Curabitur vel nunc dui. Fusce est mi, aliquam in dui id, euismod aliquet ante. Suspendisse blandit bibendum libero nec rhoncus. In elementum nibh quis risus scelerisque suscipit. Nam imperdiet neque ac ex pulvinar, a sollicitudin neque finibus. Aliquam sagittis dolor nec laoreet commodo. In ac egestas orci, a commodo nibh. Vivamus quis nisi ligula. Nullam semper nisl et urna sollicitudin pulvinar. Phasellus blandit mollis suscipit. Mauris faucibus congue eros, iaculis vestibulum nunc venenatis ac. Duis vel nulla tempus, vestibulum nibh in, porta arcu.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6cb0b1fd-3838-f76c-d0ad-b06349ee6e61"
        },
        {
          "name": "Side Content",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Latest projects:",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false,
                  "deletePrompt": false
                },
                {
                  "value": {
                    "macroAlias": "latest_projects",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Register now!",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Become a part of our network!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Newest Members:",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                },
                {
                  "value": {
                    "macroAlias": "newest_members",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "387cbf5d-4385-e9c7-a747-b9371c0b734a",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></homePageGrid>
    <pageFooter><![CDATA[Copyright 2016, Patryk Mirosław]]></pageFooter>
    <pageLogo>1066</pageLogo>
    <projectsMain id="1071" key="c5891fdd-c7cc-4553-a26c-66319d9037b0" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2016-02-12T10:20:59" updateDate="2016-03-11T15:59:37" nodeName="Projects" urlName="projects" path="-1,1067,1071" isDoc="" nodeType="1058" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1062" nodeTypeAlias="projectsMain">
      <pageTitle><![CDATA[Aarhus Web Developers Corporation - Projects]]></pageTitle>
      <metaDescription><![CDATA[Projects page]]></metaDescription>
      <metaKeywords><![CDATA[projects]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper auctor sagittis. Curabitur viverra diam odio, nec cursus quam aliquet vitae. Morbi pharetra bibendum ligula in egestas. Vestibulum fermentum magna porta sapien vestibulum, sit amet tempor mi hendrerit. Nullam et semper mauris. Phasellus fringilla fringilla purus, ac scelerisque neque sollicitudin ac. Mauris eget finibus velit</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Page for projects]]></projectsTitle>
      <projectItem id="1096" key="dd543159-a0dc-4969-93b9-4c4f7d3c5515" parentID="1071" level="3" creatorID="0" sortOrder="25" createDate="2016-02-26T11:30:34" updateDate="2016-03-11T15:59:11" nodeName="Project 5" urlName="project-5" path="-1,1067,1071,1096" isDoc="" nodeType="1091" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1069" nodeTypeAlias="projectItem">
        <pageTitle><![CDATA[Project 5]]></pageTitle>
        <metaDescription><![CDATA[Project 5]]></metaDescription>
        <metaKeywords><![CDATA[Project 5]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectsBodyText><![CDATA[<p>Project 5</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[Project 5]]></projectsTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>Project 5</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 5]]></projectTitle>
      </projectItem>
      <projectItem id="1095" key="d4adaa26-280c-415c-807b-a553809a060e" parentID="1071" level="3" creatorID="0" sortOrder="26" createDate="2016-02-26T11:29:06" updateDate="2016-03-11T15:59:14" nodeName="Project 4" urlName="project-4" path="-1,1067,1071,1095" isDoc="" nodeType="1091" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1069" nodeTypeAlias="projectItem">
        <pageTitle><![CDATA[Project 4]]></pageTitle>
        <metaDescription><![CDATA[Project 4]]></metaDescription>
        <metaKeywords><![CDATA[Project 4]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectsBodyText><![CDATA[<p>Project 4</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[Project 4]]></projectsTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>Project 4</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 4]]></projectTitle>
      </projectItem>
      <projectItem id="1094" key="481cca0e-5198-482e-ae1a-f2bfa11cdc9c" parentID="1071" level="3" creatorID="0" sortOrder="27" createDate="2016-02-26T10:13:07" updateDate="2016-03-11T15:59:25" nodeName="Project 3" urlName="project-3" path="-1,1067,1071,1094" isDoc="" nodeType="1091" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1069" nodeTypeAlias="projectItem">
        <pageTitle><![CDATA[Project 3]]></pageTitle>
        <metaDescription><![CDATA[Project 3]]></metaDescription>
        <metaKeywords><![CDATA[Project 3]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectsBodyText><![CDATA[<p>Project 3</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[Project 3]]></projectsTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>Project 3</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
      </projectItem>
      <projectItem id="1093" key="466c0dcf-b3f9-4aeb-8b58-027b4b16c1fc" parentID="1071" level="3" creatorID="0" sortOrder="28" createDate="2016-02-26T10:12:54" updateDate="2016-03-11T15:59:26" nodeName="Project 2" urlName="project-2" path="-1,1067,1071,1093" isDoc="" nodeType="1091" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1069" nodeTypeAlias="projectItem">
        <pageTitle><![CDATA[Project 2]]></pageTitle>
        <metaDescription><![CDATA[Project 2]]></metaDescription>
        <metaKeywords><![CDATA[Project 2]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectsBodyText><![CDATA[<p>Project 2</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[Project 2]]></projectsTitle>
        <projectStatus>13</projectStatus>
        <projectDescription><![CDATA[<p>Project 2</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
      </projectItem>
      <projectItem id="1092" key="87e8d673-f4cf-443b-948c-a45d0fb262f7" parentID="1071" level="3" creatorID="0" sortOrder="29" createDate="2016-02-26T10:12:35" updateDate="2016-03-11T15:59:29" nodeName="Project 1" urlName="project-1" path="-1,1067,1071,1092" isDoc="" nodeType="1091" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1069" nodeTypeAlias="projectItem">
        <pageTitle><![CDATA[Project 1]]></pageTitle>
        <metaDescription><![CDATA[Project 1]]></metaDescription>
        <metaKeywords><![CDATA[Project 1]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectsBodyText><![CDATA[<p>This is the body of Project 1</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[This is project 1]]></projectsTitle>
        <projectStatus>12</projectStatus>
        <projectDescription><![CDATA[<p>Project descrption</p>]]></projectDescription>
        <projectTitle><![CDATA[The title of the Project]]></projectTitle>
      </projectItem>
    </projectsMain>
    <aboutUs id="1090" key="98253dbd-ceb4-459e-981c-c333cb19c922" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2016-02-26T09:25:19" updateDate="2016-03-11T19:17:39" nodeName="About Us" urlName="about-us" path="-1,1067,1090" isDoc="" nodeType="1089" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1088" nodeTypeAlias="aboutUs">
      <pageTitle><![CDATA[Aarhus Web Developers Corporation - About Us]]></pageTitle>
      <metaDescription><![CDATA[About Us page]]></metaDescription>
      <metaKeywords><![CDATA[about us page who we are]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsGrid><![CDATA[{
  "name": "full",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Info about network, whatever.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "bea03582-0cb2-3802-1ac3-12ce98ae7ff5",
          "hasActiveChild": true,
          "active": true
        },
        {
          "name": "3-Columns",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Something About Vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "about_us_members",
                    "macroParamsDictionary": {
                      "maxDisplay": "25"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "about_us_skills",
                    "macroParamsDictionary": {
                      "maxDisplay": "25"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "5e5ef79b-daf9-f6b3-065a-8021538d4971",
          "active": false
        }
      ]
    }
  ]
}]]></aboutUsGrid>
    </aboutUs>
    <articlesMain id="1072" key="32c50214-3248-4f4f-9535-40ad68665474" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2016-02-12T10:21:29" updateDate="2016-03-11T19:25:06" nodeName="Articles" urlName="articles" path="-1,1067,1072" isDoc="" nodeType="1056" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1063" nodeTypeAlias="articlesMain">
      <pageTitle><![CDATA[Aarhus Web Developers Corporation - Articles]]></pageTitle>
      <metaDescription><![CDATA[Articles page]]></metaDescription>
      <metaKeywords><![CDATA[articles]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesGrid><![CDATA[{
  "name": "full",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Articles",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Some intro to articles</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a1381045-fbfc-12c1-3173-30fc6ab0df83"
        },
        {
          "name": "Full",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "paginated_articles",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "bf509c1f-db26-5079-8f16-9e65fd919446",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></articlesGrid>
      <articleItem id="1113" key="e42f208c-1bee-4002-ba1f-c5e253b4443c" parentID="1072" level="3" creatorID="2" sortOrder="20" createDate="2016-03-04T21:41:57" updateDate="2016-03-11T17:01:33" nodeName="Article 4" urlName="article-4" path="-1,1067,1072,1113" isDoc="" nodeType="1057" creatorName="Tim Hansson" writerName="Patryk Miroslaw" writerID="0" template="1068" nodeTypeAlias="articleItem">
        <pageTitle><![CDATA[Article 4]]></pageTitle>
        <metaDescription><![CDATA[Article 4]]></metaDescription>
        <metaKeywords><![CDATA[Article 4]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article 4]]></articleTitle>
        <articleContent><![CDATA[<p>Article 4</p>]]></articleContent>
      </articleItem>
      <articleItem id="1075" key="b1020b90-2094-48c3-b4d2-67d7ad64fb78" parentID="1072" level="3" creatorID="0" sortOrder="21" createDate="2016-02-12T10:23:42" updateDate="2016-03-11T17:01:42" nodeName="Article 3" urlName="article-3" path="-1,1067,1072,1075" isDoc="" nodeType="1057" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1068" nodeTypeAlias="articleItem">
        <pageTitle><![CDATA[Article 3]]></pageTitle>
        <metaDescription><![CDATA[Article 3]]></metaDescription>
        <metaKeywords><![CDATA[Article 3]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article #3]]></articleTitle>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper auctor sagittis. Curabitur viverra diam odio, nec cursus quam aliquet vitae. Morbi pharetra bibendum ligula in egestas. Vestibulum fermentum magna porta sapien vestibulum, sit amet tempor mi hendrerit. Nullam et semper mauris. Phasellus fringilla fringilla purus, ac scelerisque neque sollicitudin ac. Mauris eget finibus velit</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1074" key="c2ecd889-e5c9-4d6e-8e36-d5a789945250" parentID="1072" level="3" creatorID="0" sortOrder="22" createDate="2016-02-12T10:23:18" updateDate="2016-03-11T15:58:58" nodeName="Article 2" urlName="article-2" path="-1,1067,1072,1074" isDoc="" nodeType="1057" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1068" nodeTypeAlias="articleItem">
        <pageTitle><![CDATA[Article 3]]></pageTitle>
        <metaDescription><![CDATA[Article 2]]></metaDescription>
        <metaKeywords><![CDATA[article 2]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article #2]]></articleTitle>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper auctor sagittis. Curabitur viverra diam odio, nec cursus quam aliquet vitae. Morbi pharetra bibendum ligula in egestas. Vestibulum fermentum magna porta sapien vestibulum, sit amet tempor mi hendrerit. Nullam et semper mauris. Phasellus fringilla fringilla purus, ac scelerisque neque sollicitudin ac. Mauris eget finibus velit</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1073" key="46e772f6-e344-4c47-a56a-9941cf9c7553" parentID="1072" level="3" creatorID="0" sortOrder="23" createDate="2016-02-12T10:21:58" updateDate="2016-03-11T15:59:02" nodeName="Article 1" urlName="article-1" path="-1,1067,1072,1073" isDoc="" nodeType="1057" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1068" nodeTypeAlias="articleItem">
        <pageTitle><![CDATA[Article 3]]></pageTitle>
        <metaDescription><![CDATA[Article 1]]></metaDescription>
        <metaKeywords><![CDATA[article 1]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article #1]]></articleTitle>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper auctor sagittis. Curabitur viverra diam odio, nec cursus quam aliquet vitae. Morbi pharetra bibendum ligula in egestas. Vestibulum fermentum magna porta sapien vestibulum, sit amet tempor mi hendrerit. Nullam et semper mauris. Phasellus fringilla fringilla purus, ac scelerisque neque sollicitudin ac. Mauris eget finibus velit</span></p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <sitemap id="1098" key="5927d325-0088-4289-90be-f42317b00dad" parentID="1067" level="2" creatorID="0" sortOrder="4" createDate="2016-02-26T11:48:26" updateDate="2016-03-11T15:46:42" nodeName="Sitemap" urlName="sitemap" path="-1,1067,1098" isDoc="" nodeType="1097" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1099" nodeTypeAlias="sitemap">
      <pageTitle><![CDATA[Sitemap]]></pageTitle>
      <metaDescription><![CDATA[Sitemap]]></metaDescription>
      <metaKeywords><![CDATA[Sitemap]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1103" key="c34266c7-2e00-4b43-940c-987f8a77d705" parentID="1067" level="2" creatorID="0" sortOrder="5" createDate="2016-03-04T19:46:58" updateDate="2016-03-11T15:46:49" nodeName="Contact Us" urlName="contact-us" path="-1,1067,1103" isDoc="" nodeType="1102" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1101" nodeTypeAlias="contactPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <metaDescription><![CDATA[Contact Us]]></metaDescription>
      <metaKeywords><![CDATA[Contact Us]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="1121" key="8d91ed3b-b925-47d8-886d-d073f3a98013" parentID="1067" level="2" creatorID="0" sortOrder="6" createDate="2016-03-04T21:58:14" updateDate="2016-03-11T15:46:56" nodeName="Login" urlName="login" path="-1,1067,1121" isDoc="" nodeType="1120" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1119" nodeTypeAlias="login">
      <pageTitle><![CDATA[Login]]></pageTitle>
      <metaDescription><![CDATA[Login page]]></metaDescription>
      <metaKeywords><![CDATA[Login page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <forbiddenAccess id="1124" key="9d8b0344-ee08-4ec4-bc9c-fb0afac35e8a" parentID="1067" level="2" creatorID="0" sortOrder="7" createDate="2016-03-04T22:00:47" updateDate="2016-03-11T15:47:01" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1067,1124" isDoc="" nodeType="1123" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1122" nodeTypeAlias="forbiddenAccess">
      <pageTitle><![CDATA[Forbidden Access]]></pageTitle>
      <metaDescription><![CDATA[Forbidden Access]]></metaDescription>
      <metaKeywords><![CDATA[Forbidden Access]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
      <pageBody><![CDATA[You have no access to this content.]]></pageBody>
    </forbiddenAccess>
    <members id="1133" key="88f5932a-c1ae-4dc9-a14a-1fc29d15dc0e" parentID="1067" level="2" creatorID="0" sortOrder="8" createDate="2016-03-04T23:23:42" updateDate="2016-03-11T15:47:07" nodeName="Members" urlName="members" path="-1,1067,1133" isDoc="" nodeType="1132" creatorName="Patryk Miroslaw" writerName="Patryk Miroslaw" writerID="0" template="1131" nodeTypeAlias="members">
      <pageTitle><![CDATA[Members Page]]></pageTitle>
      <metaDescription><![CDATA[Members Page]]></metaDescription>
      <metaKeywords><![CDATA[Members Page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>