$unstyledAColor: $text-color !default;
$unstyledAColorHover: darken($text-color, 10%) !default;
$unstyledAColorInverse: lighten($text-color, 30%) !default;
$unstyledAColorInverseHover: #FFF;
$small-color: darken($headings-color, 16%) !default;
$strong-color: darken($headings-color, 10%) !default;

.a-unstyled {
    color: $unstyledAColor;
    &:link { color: $unstyledAColor; }
    &:visited { color: $unstyledAColor; }
    &:hover { color: $unstyledAColorHover; }
    &:active { color: $unstyledAColor; }
}

.navbar-inverse .a-unstyled {
    color: $unstyledAColorInverse;

    &:link { color: $unstyledAColorInverse; }
    &:visited { color: $unstyledAColorInverse; }
    &:hover { color: $unstyledAColorInverseHover; }
    &:active { color: $unstyledAColorInverse; }
}

small {
    color: $small-color;
}

strong {
    color: $strong-color;
}