@inherits Umbraco.Web.Macros.PartialViewMacroPage


    <div class="list-group">
@{
   
    foreach (var project in Umbraco.TypedContent(1071).Children().Where("projectStatus.Contains(\"27\")").OrderBy("CreateDate desc").Take(3))
    {
        <a href="@project.Url" class="list-group-item">@project.Name</a>
    }
}
    </div>



       
   
