@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@using Newtonsoft.Json;
@using Umbraco.Core.Persistence.DatabaseModelDefinitions;

@{
    var memberService = ApplicationContext.Current.Services.MemberService;
    long n = 3;
    var meme = memberService.GetAll(0, 3, out n, "CreateDate", Direction.Descending, "active");

}


<div class="row-fluid">
    @{

    foreach (var member in meme)
    {
           
    <div class="col">@member.GetValue("firstname") @member.GetValue("lastname")</div>
    }
    }
</div>
